.pager {
  list-style: none;
  text-align: center;
  margin: 20px 0 0;
  padding-left: 0;
}

.pager ul {
  display: block;
}

.pager .previous>a {
  margin: 20px 0 0;
  float: left;
  display: block;
}

.pager .next>a {
  margin: 20px 0 0;
  float: right;
  display: block;
}

header nav:not(:empty) {
  margin-top: 1em;
  max-width: 100%;
  text-align: center;
  display: block;
  padding: 0;
}


a,
a:visited {
  color: #8B0000;
  text-decoration-color: black;
  text-decoration-thickness: 1px;
}

a:focus {
  outline: 0;
}

.sidenote-number ~ .sidenote::before,
.sidenote-number::after {
  color: #8B0000;
}

nav li:before {
  content: "";
  padding: 0;
}

nav li {
  display: inline;
}

nav a,
.term a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.nav-links {
  padding: 0;
}

nav a:hover,
nav a:focus,
nav a:active {
  border-bottom: 1px solid black;
  outline: 0;
}

.postmeta-article {
  text-align: center;
}

.backtotop {
  text-align: right;
}

.intro-header {
  margin-top: 50px;
}

html {
  font-size: 110%;
}

footer {
  margin-bottom: 4rem;
}

.footnote-ref {
  padding-left: 0.15rem;
}

.terms {
  text-align: center;
  color: #8B0000;
}

.term.selected::before {
  content: "[ ";
  color: black;
}

.term.selected::after {
  content: " ]";
  color: black;
}

.term.unselected {
  border-bottom: 1px solid transparent;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.term.unselected:hover {
  border-bottom: 1px solid black;
}

span.term {
  display: inline-block
}

.term.unselected::before,
.term.unselected::after {
  opacity: 0.0;
}

.term.unselected:hover::before,
.term.unselected:hover::after {
  opacity: 1.0;
}

.superscript { position: relative; top: -1.2em; font-size: 25%; }