{{ define "main" }}

{{ $theTax := .Data.Plural }}
{{ $thePrefix := "^" }}
{{ if eq (string $theTax) "tags" }}
{{ $thePrefix = (string "#") }}
{{ else if eq (string $theTax) "series" }}
{{ $thePrefix = (string "@") }}
{{ end }}

{{$filtered :=  (where .Data.Terms.Alphabetical "Name" "!=" "index")}}

<div class="container" role="main">
  <div class="terms">
    <div>
      <span onclick="handleClick('all')"
            class="term"
            data-selected="true"
            id="term_all">all</span>
    </div>
    <div>
      {{range $filtered}}
      <span onclick="handleClick('{{.Name}}')"
            class="term"
            data-selected="false"
            id="term_{{.Name}}">{{ .Name }}</span>
      {{ end }}
    </div>
  </div>

  <p id="demo"></p>

  <div class="post-toc">
    <h2>Posts</h2>
    {{range .Site.RegularPages}}
      {{if (index .Params $theTax)}}
        {{$tags := delimit (apply (index .Params $theTax) "urlize" ".") ","}}
        <div class="post"
             data-display="true"
             data-tags='{{$tags}}'>
          <div class="entry">
            <div class="chapter"><a href="{{.Permalink}}">{{.Title}}</a></div>
            <div class="page">
              {{.PublishDate.Format "2006 Jan 2"}}
            </div>
          </div>
          <div class="terms-list">({{delimit (index .Params $theTax) ", "}})</div>
        </div>
      {{end}}
    {{end}}
  </div>
</div>

<script>

 {{$filtered :=  (where .Data.Terms.Alphabetical "Name" "!=" "index")}}
 const all = [{{range $filtered}}{{.Name}},{{end}}];
 var selected = [...all];

 function updateSelectedList(value) {
   if (value == "all") {
     selected = selected.length == all.length ? [] : all;
   } else if (selected.length == all.length) {
     selected = [value];
   } else if (selected.includes(value)) {
     selected = selected.length == 1 ? all : selected.filter(s => s != value);
   } else {
     selected = [value, ...selected];
   }
 };

 function updatePostsDisplayed() {
   posts = document.getElementsByClassName("post");
   for (post of posts) {
     tags = post.getAttribute("data-tags").split(",").filter(t => t != "")
     toDisplay = tags.some(t => selected.includes(t)) ? "true" : "false"
     post.setAttribute("data-display", toDisplay)
   };
 };

 function updateHighlightedTags() {
   allSelected = selected.length == all.length
   allSelectedStr = allSelected ? "true" : "false"
   document.getElementById("term_all").setAttribute("data-selected", allSelectedStr)
   for (t of all) {
     v = (!allSelected) && selected.includes(t) ? "true" : "false"
     id_ = `term_${t}`
     document.getElementById(id_)
             .setAttribute("data-selected", v)
   };
 }

 function handleClick(value) {
   updateSelectedList(value)
   updateHighlightedTags()
   updatePostsDisplayed()
 };
</script>

{{ end }}
