{{ define "main" }}

{{ $theTax := .Data.Plural }}
{{ $thePrefix := "^" }}
{{ if eq (string $theTax) "tags" }}
{{ $thePrefix = (string "#") }}
{{ else if eq (string $theTax) "series" }}
{{ $thePrefix = (string "@") }}
{{ end }}


{{ $allEngTerms := slice }}
{{ $filtered :=  (where .Data.Terms.Alphabetical "Name" "!=" "index") }}
{{ range $filtered }}
  {{ range .WeightedPages }}
  {{ $ss := index (.Page.Params)  $theTax }}
    {{ $allEngTerms = $allEngTerms | append $ss }}
  {{end}}
{{end}}
{{ $allEngTerms = uniq $allEngTerms }}

<div class="container" role="main">
  <div class="terms">
    <div>
      <span onclick="handleClick('all')"
            class="term"
            data-selected="true"
            id="term_all">all</span>
    </div>
    <div>
      {{range $allEngTerms}}
        {{ $term := . | urlize  }}
        <span onclick="handleClick('{{$term}}')"
              class="term"
              data-selected="false"
              id="term_{{$term}}">{{ . }}</span>
      {{ end }}
    </div>
  </div>

  <p id="demo"></p>

  <div class="post-toc">
      <h2>Posts</h2>
      {{range .Site.RegularPages}}
        {{$engTerms := slice}}
        {{$terms := slice}}
        {{if (index .Params $theTax)}}
          {{$engTerms = (index .Params $theTax)}}
          {{$terms = delimit (apply $engTerms "urlize" ".") ","}}
        {{else}}
          {{$engTerms = slice}}
          {{$terms = "none"}}
        {{end}}
        <div class="post"
             data-display="true"
             data-tags='{{$terms}}'>
          <div class="entry">
              <div class="chapter">
                  <a href="{{.Permalink}}">{{.Title}}</a>
                  <span class="terms-list">
                      {{if $engTerms}}
                        ({{delimit $engTerms ", "}})
                      {{end}}
                  </span>
              </div>
            <div class="page">
              {{.PublishDate.Format "2006 Jan 2"}}
            </div>
          </div>
        </div>
    {{end}}
  </div>
</div>

<script>
 
 const all = [{{range $filtered}}{{.Name}},{{end}}];
 var allFlag = true
 var selected = [];

 function updateSelectedList(value) {
   if (value == "all") {
       allFlag = !allFlag
       selected = []
   } else if (selected.includes(value)) {
       allFlag = false
       selected = selected.filter(s => s != value);
   } else {
     allFlag = false
     selected = [value, ...selected];
   }
     console.log(all)
     console.log(allFlag)
     console.log(selected)
 };

 function updatePostsDisplayed() {
   posts = document.getElementsByClassName("post");
   for (post of posts) {
       tags = post.getAttribute("data-tags").split(",").filter(t => t != "")
       predicate = allFlag || tags.some(t => selected.includes(t))
       toDisplay = predicate ? "true" : "false"
       post.setAttribute("data-display", toDisplay)
   };
 };

 function updateHighlightedTags() {
     document.getElementById("term_all").setAttribute("data-selected", allFlag.toString())
     for (t of all) {
         id_ = `term_${t}`
         v = selected.includes(t).toString()
         document.getElementById(id_)
               .setAttribute("data-selected", v)
   };
 }

 function handleClick(value) {
   updateSelectedList(value)
   updateHighlightedTags()
   updatePostsDisplayed()
 };
</script>

{{ end }}
